.alinha-eixo-y {}

#bilbioteca--container {
   margin-top: 2em;
   gap: 2em;
}

#biblioteca--pesquisa-form {
   display: flex;
   border: 1px solid #ADB5BD;
   border-radius: 5px;
   padding: 6px;
   width: 666px;
}

#biblioteca--pesquisa-form img {
   margin: 0 1em;
}

#biblioteca--pesquisa-texto {
   border: none;
   flex-grow: 2;
}

#biblioteca--pesquisa-texto:focus {
   outline: none;
}

#biblioteca--pesquisa-botao {
   border: none;
   background-color: #FFC501;
   border-radius: 5px;
   width: 82px;
   height: 37px;
   cursor: pointer;
}

#biblioteca--pesquisa-filtro {
   border: 1px solid #ADB5BD;
   height: 51px;
   width: 200px;
   padding: 0 1em;
   border-radius: 5px;
   font: normal normal normal 16px/21px Roboto;
}

#biblioteca--itens {
   height: 58%;
   width: 84%;
   margin: 2em auto 0 auto;
   overflow-y: scroll;
   display: flex;
   flex-wrap: wrap;
   gap: 1em;
}

.item {
   width: 200px;
   height: 240px;
   background-color: #F4F4F4;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 1.5em;
}

.item span:nth-child(2) {
   width: 200px;
   margin-top: 6px;
}

.item img {
   height: 180px;
   width: 120px;
}

.item p {
   text-align: center;
   margin: 0;
   font: normal normal medium 16px/21px Roboto;
   color: #3E4756;
}

.invisivel {
   visibility:hidden;
}